//- extends ../layout.pug
extends ../layout.pug
block content
    .container
        .row
            .span12
                #loginModal
                    .modal-header
                        button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                    .modal-body
                        .well
                            ul.nav.nav-tabs
                                li
                                    a(href='/supportdesk/userArea/login' data-toggle='tab') Login
                                li.active
                                    a(href='/supportdesk/userArea/create' data-toggle='tab') Create Account
                            #myTabContent.tab-content
                                #login.tab-pane.shade
                                    form#tab
                                #create.tab-pane.active.in
                                    form.form-horizontal(action='' method='POST')
                                        fieldset
                                            #legend
                                                legend New user
                                                    .control-group
                                                        // Username
                                                        label.control-label(for='username') Username
                                                        .controls
                                                            input#username.input-xlarge(type='text' name='username' placeholder='')
                                                    .control-group
                                                        // Group
                                                        label.control-label(for='group') Group
                                                        .controls
                                                            select(name="group")
                                                                each g in groups
                                                                    option(value=g.name)=g.name
                                                            //input#username.input-xlarge(type='text' name='group' placeholder='')
                                                    .control-group
                                                        // Job
                                                        label.control-label(for='job') Job
                                                        .controls
                                                            input#username.input-xlarge(type='text' name='job' placeholder='')
                                                    .control-group
                                                        // Password
                                                        label.control-label(for='password') Password
                                                        .controls
                                                            input#username.input-xlarge(type='password' name='password' placeholder='')
                                                    .control-group
                                                        // Password2
                                                        label.control-label(for='password2') Confirm Password
                                                        .controls
                                                            input#username.input-xlarge(type='passsword' name='password2' placeholder='')
                                                    .control-group
                                                        // Button
                                                        .controls
                                                            button.btn.btn-success Create
