//- extends ../layout.pug
extends ../layout.pug
block content
    .container
        .row
            .span12
                #loginModal
                    .modal-header
                        button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                        h3 Have an Account?
                    .modal-body
                        .well
                            ul.nav.nav-tabs
                                li.active
                                    a(href='/supportdesk/userArea/login' data-toggle='tab') Login
                                li
                                    a(href='/supportdesk/userArea/create' data-toggle='tab') Create Account
                            #myTabContent.tab-content
                                #login.tab-pane.active.in
                                    form.form-horizontal(action='' method='POST')
                                        fieldset
                                            #legend
                                                legend Login
                                                - var error_message
                                                <h5> #{error_message}
                                            .control-group
                                                // Username
                                                label.control-label(for='username') Username
                                                .controls
                                                    input#username.input-xlarge(type='text' name='username' placeholder='')
                                            .control-group
                                                // Password
                                                label.control-label(for='password') Password
                                                .controls
                                                    input#password.input-xlarge(type='password' name='password' placeholder='')
                                            .control-group
                                                // Button
                                                .controls
                                                    button.btn.btn-success Login
                                #create.tab-pane.fade
                                    form#tab
                                        label Username
                                        input.input-xlarge(type='text' name='new_username' value='')
                                        label Group
                                        input.input-xlarge(type='text' name='new_username_group' value='')
                                        label Job
                                        input.input-xlarge(type='text' name='new_username_job' value='')
                                        label Password
                                        input.input-xlarge(type='text' name='new_username_password' value='')
                                        label Repeat Password
                                        input.input-xlarge(type='text' name='new_username_password2' value='')
                                        div
                                            button.btn.btn-primary Create Account
