//-extends ../layout.pug
extends ../admin_layout.pug
block content
    .container
        form(method="post")
            div(class="card")
                div(class="card-header text-primary").
                hr
                h1 User
                div(class="card-body")
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="user_name") Name
                        div(class="col-sm-2")
                            input(id="user_name", type="text", name="user_name", class="form-control" value=editeduser.name)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="user_job") Job
                        div(class="col-sm-2")
                            input(id="user_job", type="text", name="user_job", class="form-control" value=editeduser.job)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="user_group") Group
                        div(class="col-sm-2")
                            select(name="user_group")
                                each g in groups
                                    if (g.name == editeduser.group.name)
                                        option(value=g.name selected = true)=g.name
                                    else
                                        option(value=g.name)=g.name
                div(class="card-footer")
                    input(type="submit", value="Save", class="btn btn-primary btn-sm")