extends ../admin_layout.pug
block content
    .row
        .col-lg-12
            .panel.panel-default
                .panel-heading
                    h3.panel-title Users
                .panel-body
                     form(method="post")
                        table.table.table-striped
                            thead
                                tr
                                    //th Code
                                    th Name
                                    th Job
                                    th Group
                            tbody
                                each u in users
                                    tr
                                        //td=t._id
                                        td=u.name
                                            a(href='userArea/Edit/'+u._id) Edit
                                        td=u.job
                                        td=u.group.name