//-extends ../layout.pug
extends ../admin_layout.pug
block content
    .row
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title New task
                .panel-body
                    form(method="post")
                        div(class="card")
                            .row
                                .col-sm-4
                                    label(for="task_name") Pick a Glorious Title!
                                .col-sm-4
                                    input(id="task_name", type="text", name="task_name", class="form-control")
                            br
                            .row
                                .col-sm-4
                                    label(for="task_impact") Where does it hurt?
                                .col-sm-4
                                    select(name="task_impact")
                                        each i in impacts
                                            option(value=i.description)=i.description
                            br
                            .row
                                .col-sm-4
                                    label(for="task_urgency") How bad is it?
                                .col-sm-4
                                    select(name="task_urgency")
                                        each u in urgencies
                                            option(value=u.description)=u.description
                            br
                            .row
                                .col-sm-4
                                    label(for="task_eta") ETA:
                                .col-sm-4
                                    input(id="task_eta", type="text", name="task_eta", class="form-control")
                            br
                            .row
                                .col-sm-4
                                    label(for="task_description") Please, tell me more
                                .col-sm-4
                                    input(id="task_description", type="text", name="task_description", class="form-control")
                            br
                            .row
                                .col-sm-4
                                    label(for="task_resolution") Resolution
                                .col-sm-4
                                    input(id="task_resolution", type="text", name="task_resolution", class="form-control")
                            br
                            .row
                                .col-sm-4
                                    label(for="task_state") Status
                                .col-sm-4
                                    select(name="task_state")
                                        each s in states
                                            option(value=s.description)=s.description
                            .row
                                .col-sm-4
                                    label(for="task_group") Choose your army
                                .col-sm-4
                                    select(name="task_group")
                                        each g in groups
                                            option(value=g.name)=g.name
                            .row
                                .col-sm-4
                                    label(for="task_responsible") Choose your champion!
                                .col-sm-4
                                    select(name="task_responsible")
                                        each u in users
                                            option(value=u.name)=u.name
                        input(type="submit", value="Agregar", class="btn btn-primary btn-sm")
