//-extends ../layout.pug
extends ../admin_layout.pug
block content
    .row
        .col-lg-12
            .panel.panel-default
                .panel-heading
                    h3.panel-title My History
                .panel-body
                    form(method="post")
                        table.table.table-striped
                            thead
                                tr
                                    th
                                    th Name
                                    th Priority
                                    th Status
                                    th Closed Date
                            tbody
                                each t in docs
                                    tr
                                        td
                                            a(href='History/View/'+t._id)
                                                i.far.fa-hand-point-right
                                        td=t.name
                                        td=t.impact.impact_value + t.urgency.urgency_value
                                        td=t.state.description
                                        td=t.closed_date
