//-extends ../layout.pug
extends ../admin_layout.pug
block content
    .row
        .col-lg-12
            .panel.panel-default
                .panel-heading
                    h3.panel-title My Debts to Collect
                .panel-body
                    form(method="post")
                        table.table.table-striped
                            thead
                                tr
                                    th
                                    th Name
                                    th Priority
                                    th Status
                                    th Responsible
                                    th deadline
                            tbody
                                each t in docs
                                    tr
                                        td
                                            a(href='Debts/Edit/'+t._id) 
                                                i.far.fa-hand-point-right
                                        td=t.name
                                        td=t.impact.impact_value + t.urgency.urgency_value
                                        td=t.state.description
                                        td=t.responsible.name
                                        td=t.eta_date
