//-extends ../layout.pug
extends ../admin_layout.pug
block content
    .container
        //-action="./"+editedtask._id
        form(method="post")
            div(class="card")
                div(class="card-header text-primary").
                hr
                h1 Task
                div(class="card-body")
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_name") The Glorious Title!
                        div(class="col-sm-2")
                            input(id="task_name", type="text", name="task_name", class="form-control" value=editedtask.name, readonly)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_requester") The damsel in distress
                        div(class="col-sm-2")
                            input(id="task_requester", type="text", name="task_requester", class="form-control" value=editedtask.requester.name, readonly)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_impact") It's still hurts in
                        div(class="col-sm-2")
                            select(name="task_impact")
                                each i in impacts
                                    if (i.description == editedtask.impact.description)
                                        option(value=i.description selected = true)=i.description
                                    else
                                        option(value=i.description)=i.description
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_urgency") It's still that bad
                        div(class="col-sm-2")
                            select(name="task_urgency")
                                each u in urgencies
                                    if (u.description == editedtask.urgency.description)
                                        option(value=u.description selected = true)=u.description
                                    else
                                        option(value=u.description)=u.description
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_eta") ETA:
                        div(class="col-sm-2")
                            input(id="task_eta", type="text", name="task_eta", class="form-control" value=editedtask.eta, readonly)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_creation_date") The mission began at
                        div(class="col-sm-2")
                            input(id="task_creation_date", type="text", name="task_creation_date", class="form-control" value=editedtask.creation_date, readonly)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_eta_date") The deadline is
                        div(class="col-sm-2")
                            input(id="task_eta_date", type="text", name="task_eta_date", class="form-control" value=editedtask.eta_date, readonly)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_closed_date") The missions ends at
                        div(class="col-sm-2")
                            input(id="task_closed_date", type="text", name="task_closed_date", class="form-control" value=editedtask.closed_date, readonly)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_description") Anthing else you want to share?
                        div(class="col-sm-2")
                            input(id="task_description", type="text", name="task_description", class="form-control" value=editedtask.description)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_resolution") Resolution
                        div(class="col-sm-2")
                            input(id="task_resolution", type="text", name="task_resolution", class="form-control" value=editedtask.resolution)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_state") Status
                        div(class="col-sm-2")
                            select(name="task_state")
                                each s in states
                                    if (s.description == editedtask.state.description)
                                        option(value=s.description selected = true)=s.description
                                    else
                                        option(value=s.description)=s.description
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_group") Your army!
                        div(class="col-sm-2")
                            select(name="task_group")
                                each g in groups
                                    if (g.name == editedtask.group.name)
                                        option(value=g.name selected = true)=g.name
                                    else
                                        option(value=g.name)=g.name
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_responsible") Your champion!
                        div(class="col-sm-2")
                            select(name="task_responsible")
                                each u in users
                                    if (u.description == editedtask.responsible.name)
                                        option(value=u.name selected = true)=u.name
                                    else
                                        option(value=u.name)=u.name
                div(class="card-footer")
                    input(type="submit", value="Save", class="btn btn-primary btn-sm")
        br
        h2 Let's see. Where were we...
        table.table.table-striped
            thead
                tr
                    th What?
                    th When?
                    th Details! Details!
            tbody
                each t in tracks
                    tr
                        td=t.type
                        td=t.change_date
                        td=t.description