//-extends ../layout.pug
extends ../admin_layout.pug
block content
    .container
        //-action="./"+editedtask._id
        form(method="post")
            div(class="card")
                div(class="card-header text-primary").
                hr
                h1 Historic Task
                div(class="card-body")
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_name") The Glorious Title!
                        div(class="col-sm-2")
                            input(id="task_name", type="text", name="task_name", class="form-control" value=editedtask.name, readonly)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_requester") The damsel in distress
                        div(class="col-sm-2")
                            input(id="task_requester", type="text", name="task_requester", class="form-control" value=editedtask.requester.name, readonly)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_impact") It hurt in
                        div(class="col-sm-2")
                            input(id="task_impact", type="text", name="task_impact", class="form-control" value=editedtask.impact.description, readonly)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_urgency") It was that bad
                        div(class="col-sm-2")
                            input(id="task_urgency", type="text", name="task_urgency", class="form-control" value=editedtask.urgency.description, readonly)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_eta") ETA:
                        div(class="col-sm-2")
                            input(id="task_eta", type="text", name="task_eta", class="form-control" value=editedtask.eta, readonly)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_creation_date") The mission began at
                        div(class="col-sm-2")
                            input(id="task_creation_date", type="text", name="task_creation_date", class="form-control" value=editedtask.creation_date, readonly)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_eta_date") The deadline was
                        div(class="col-sm-2")
                            input(id="task_eta_date", type="text", name="task_eta_date", class="form-control" value=editedtask.eta_date, readonly)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_closed_date") The missions finished at
                        div(class="col-sm-2")
                            input(id="task_closed_date", type="text", name="task_closed_date", class="form-control" value=editedtask.closed_date, readonly)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_description") What I remember
                        div(class="col-sm-2")
                            input(id="task_description", type="text", name="task_description", class="form-control" value=editedtask.description)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_resolution") Resolution
                        div(class="col-sm-2")
                            input(id="task_resolution", type="text", name="task_resolution", class="form-control" value=editedtask.resolution)
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_state") Status
                        div(class="col-sm-2")
                            input(id="task_state", type="text", name="task_state", class="form-control" value=editedtask.state.description, readonly)
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_group") Your army!
                        div(class="col-sm-2")
                                input(id="task_group", type="text", name="task_group", class="form-control" value=editedtask.group.name, readonly)
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="task_responsible") Your champion!
                        div(class="col-sm-2")
                                input(id="task_responsible", type="text", name="task_responsible", class="form-control" value=editedtask.responsible.name, readonly)
                div(class="card-footer")
                    input(type="submit", value="Back", class="btn btn-primary btn-sm")
        br
        h2 Let's see. Ahh good times...
        table.table.table-striped
            thead
                tr
                    th What?
                    th When?
                    th Details! Details!
            tbody
                each t in tracks
                    tr
                        td=t.type
                        td=t.change_date
                        td=t.description