//-extends ../layout.pug
extends ../admin_layout.pug
block content
    .row
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title Groups
                .panel-body
                    table.table.table-striped
                        thead
                            tr
                                th Name
                                th What the hell do we pay them for?
                        tbody
                            each g in docs
                                tr
                                    td=g.name
                                        a(href='groupArea/Edit/'+g._id) Edit
                                    td=g.description
        .col-sm-4
            .panel.panel-default
                .panel-heading
                    h3.panel-title Add Group
                .panel-body
                    form(method="post", action="/supportdesk/groupArea")
                        div(class="card")
                            div(class="card-header text-primary").
                            div(class="card-body")
                                label(for="Group_name") Group Name:
                                input(id="group_name", type="text", name="group_name", class="form-control")
                                label(for="group_description") We pay them to:
                                input(id="group_description", type="text", name="group_description", class="form-control")
                                br
                            div(class="card-footer")
                                input(type="submit", value="Add", class="btn btn-primary btn-sm")
