extends ../admin_layout.pug
block content
    .container
        form(method="post", action="/supportdesk/groupArea")
            div(class="card")
                div(class="card-header text-primary").
                hr
                h1 New group
                div(class="card-body")
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="Group_name") Group Name:
                        div(class="col-sm-2")
                            input(id="group_name", type="text", name="group_name", class="form-control")
                    br
                    div(class="row")
                        div(class="col-sm-2")
                            label(for="description") We pay them to:
                        div(class="col-sm-2")
                            input(id="group_description", type="text", name="group_description", class="form-control")
                div(class="card-footer")
                    input(type="submit", value="Add", class="btn btn-primary btn-sm")