doctype html
html(lang="es")
    head    
        title Support Desk
        //- link(rel='stylesheet', href='/static/vendor/css/bootstrap.css')
        // Latest compiled and minified CSS
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    link(rel='stylesheet', href='/static/vendor/css/sb-admin-2.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous')
    link(rel='stylesheet', href='https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.css')
    body
        #wrapper
            nav.navbar.navbar-default.navbar-static-top(role='navigation' style='margin-bottom: 0')
                .navbar-header
                    button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='index.html') By Maggiolo, Stevenson y el inutil de Fulvio
                // /.navbar-header
                ul.nav.navbar-top-links.navbar-right
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown' href='#')
                            i.fa.fa-envelope.fa-fw
                            i.fa.fa-caret-down
                        ul.dropdown-menu.dropdown-messages
                            li
                                a(href='#')
                                    div
                                        strong John Smith
                                        span.pull-right.text-muted
                                            em Yesterday
                                    div
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                            li.divider
                            li
                                a(href='#')
                                    div
                                        strong John Smith
                                        span.pull-right.text-muted
                                            em Yesterday
                                    div
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                            li.divider
                            li
                                a(href='#')
                                    div
                                        strong John Smith
                                        span.pull-right.text-muted
                                            em Yesterday
                                    div
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                            li.divider
                            li
                                a.text-center(href='#')
                                    strong Read All Messages
                                    i.fa.fa-angle-right
                        // /.dropdown-messages
                        // /.dropdown
                        li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown' href='#')
                                i.fa.fa-tasks.fa-fw
                                i.fa.fa-caret-down
                            ul.dropdown-menu.dropdown-tasks
                                li
                                    a(href='#')
                                        div
                                            p
                                                strong Task 1
                                                span.pull-right.text-muted 40% Complete
                                            .progress.progress-striped.active
                                                .progress-bar.progress-bar-success(role='progressbar' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100' style='width: 40%')
                                                    span.sr-only 40% Complete (success)
                                li.divider
                                li
                                    a(href='#')
                                        div
                                            p
                                                strong Task 2
                                                span.pull-right.text-muted 20% Complete
                                            .progress.progress-striped.active
                                                .progress-bar.progress-bar-info(role='progressbar' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100' style='width: 20%')
                                                    span.sr-only 20% Complete
                                li.divider
                                li
                                    a(href='#')
                                        div
                                            p
                                                strong Task 3
                                                span.pull-right.text-muted 60% Complete
                                            .progress.progress-striped.active
                                                .progress-bar.progress-bar-warning(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
                                                    span.sr-only 60% Complete (warning)
                                li.divider
                                li
                                    a(href='#')
                                        div
                                            p
                                                strong Task 4
                                                span.pull-right.text-muted 80% Complete
                                            .progress.progress-striped.active
                                                .progress-bar.progress-bar-danger(role='progressbar' aria-valuenow='80' aria-valuemin='0' aria-valuemax='100' style='width: 80%')
                                                    span.sr-only 80% Complete (danger)
                                li.divider
                                li
                                    a.text-center(href='#')
                                        strong See All Tasks
                                        i.fa.fa-angle-right
                            // /.dropdown-tasks
                            // /.dropdown
                            li.dropdown
                                a.dropdown-toggle(data-toggle='dropdown' href='#')
                                    i.fa.fa-bell.fa-fw
                                    i.fa.fa-caret-down
                                ul.dropdown-menu.dropdown-alerts
                                    li
                                        a(href='#')
                                            div
                                                i.fa.fa-comment.fa-fw
                                                |  New Comment
                                                span.pull-right.text-muted.small 4 minutes ago
                                    li.divider
                                    li
                                        a(href='#')
                                            div
                                                i.fa.fa-twitter.fa-fw
                                                |  3 New Followers
                                                span.pull-right.text-muted.small 12 minutes ago
                                    li.divider
                                    li
                                        a(href='#')
                                            div
                                                i.fa.fa-envelope.fa-fw
                                                |  Message Sent
                                                span.pull-right.text-muted.small 4 minutes ago
                                    li.divider
                                    li
                                        a(href='#')
                                            div
                                                i.fa.fa-tasks.fa-fw
                                                |  New Task
                                                span.pull-right.text-muted.small 4 minutes ago
                                    li.divider
                                    li
                                        a(href='#')
                                            div
                                                i.fa.fa-upload.fa-fw
                                                |  Server Rebooted
                                                span.pull-right.text-muted.small 4 minutes ago
                                    li.divider
                                    li
                                        a.text-center(href='#')
                                            strong See All Alerts
                                            i.fa.fa-angle-right
                                // /.dropdown-alerts
                                // /.dropdown
                                li.dropdown
                                    a.dropdown-toggle(data-toggle='dropdown' href='#')
                                        i.fa.fa-user.fa-fw
                                        i.fa.fa-caret-down
                                    ul.dropdown-menu.dropdown-user
                                        li
                                            a(href='#')
                                                i.fa.fa-user.fa-fw
                                                |  User Profile
                                        li
                                            a(href='#')
                                                i.fa.fa-gear.fa-fw
                                                |  Settings
                                        li.divider
                                        li
                                            a(href='login.html')
                                                i.fa.fa-sign-out.fa-fw
                                                |  Logout
                                    // /.dropdown-user
                                    // /.dropdown
        .navbar-default.sidebar(role='navigation')
            .sidebar-nav.navbar-collapse
                ul#side-menu.nav
                    li.sidebar-search
                        .input-group.custom-search-form
                            input.form-control(type='text' placeholder='Search...')
                            span.input-group-btn
                                button.btn.btn-default(type='button')
                                    i.fa.fa-search
                        // /input-group
                    //-li
                        a(href='index.html')
                            i.fa.fa-dashboard.fa-fw
                            |  Dashboard
                    //-li
                        a(href='#')
                            i.fa.fa-bar-chart-o.fa-fw
                            |  Charts
                            span.fa.arrow
                        ul.nav.nav-second-level
                            li
                                a(href='flot.html') Flot Charts
                            li
                                a(href='morris.html') Morris.js Charts
                    li
                        a(href='#')
                            i.fa.fa-bar-chart-o.fa-fw
                            |  More Stuff 
                            span.fa.arrow
                        ul.nav.nav-second-level
                            li
                                a(href='/supportdesk/groupArea') Groups
                            li
                                a(href='/supportdesk/userArea') Users
                            li
                                //-a(href='/supportdesk/taskArea') Tasks
                                a(href='#')
                                    i.fa.fa-bar-chart-o.fa-fw
                                    |  Tasks
                                    span.fa.arrow
                                ul.nav.nav-second-level
                                    li
                                        a(href='/supportdesk/taskArea') My assigned
                                    li
                                        a(href='/supportdesk/taskArea/Debts') My debts to collect
                                    li
                                        a(href='/supportdesk/taskArea/History') My history
                        // /.nav-second-level
    #page-wrapper
        .row
            .col-lg-12
                h1.page-header Challenge Accepted
            // /.col-lg-12
            // /.row
            .row
                .col-lg-3.col-md-6
                    .panel.panel-primary
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-tasks.fa-5x
                                .col-xs-9.text-right
                                    .huge 26
                                    div My assigned
                        a(href='/supportdesk/taskArea')
                            .panel-footer
                                span.pull-left View tasks assigned to me
                                span.pull-right
                                    i.fa.fa-arrow-circle-right
                                .clearfix
                .col-lg-3.col-md-6
                    .panel.panel-green
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-binoculars.fa-5x
                                .col-xs-9.text-right
                                    .huge 12
                                    div Who owes me?
                        a(href='/supportdesk/taskArea/Debts')
                            .panel-footer
                                span.pull-left View tasks opened by me
                                span.pull-right
                                    i.fa.fa-arrow-circle-right
                                .clearfix
                .col-lg-3.col-md-6
                    .panel.panel-yellow
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-clock.fa-5x
                                .col-xs-9.text-right
                                    .huge 124
                                    div My task history
                        a(href='/supportdesk/taskArea/History')
                            .panel-footer
                                span.pull-left View closed tasks related to me
                                span.pull-right
                                    i.fa.fa-arrow-circle-right
                                .clearfix
                .col-lg-3.col-md-6
                    .panel.panel-red
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-plus.fa-5x
                                .col-xs-9.text-right
                                    .huge 13
                                    div Open new Task
                        a(href='/supportdesk/taskArea/New')
                            .panel-footer
                                span.pull-left Its FREE!!
                                span.pull-right
                                    i.fa.fa-arrow-circle-right
                                .clearfix
        block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
    script(src='/static/vendor/js/sb-admin-2.js')
    script(src='https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.js')
